<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.leelink.healthangelos">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- protection level is dangerous, need request runtime permission   RxPermissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="com..permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 蓝牙相关权限 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <service
            android:name=".activity.Fit.FitConnectService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".activity.Fit.EcgDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitBloodPressureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitHeartRateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitStepActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitSleepDataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.BloodOxygenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.AddAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitOverTurnActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.SitRemindActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.DrindRemindActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitAlarmClockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.DataMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.BindFitSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.SearchFitWatchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.BindFitWatchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BioRadar.BioRadarMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.AlarmDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Fit.AlarmRepeatActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.BioRadar.BindBioRadarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.a666g.G777gMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.a666g.A666gMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.a666g.G777gActivity"
            android:exported="false" />
        <activity
            android:name=".activity.a666g.A666gActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BindSaasActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.SwitchSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.LocateRateSetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.TimingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.FastCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.TrailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBStepActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBBloodOxygenHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBBloodOxygenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchbBloodPressureHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBBloodPressureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBHeartRateHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBHeartRateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JWatchB.JWatchBMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConfirmLogoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NowUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VipMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SafeMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorCheckingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ssk.SSKWebActivity"
            android:exported="false" />
        <activity
            android:name=".volunteer.VolInfoActivity"
            android:exported="false" />
        <activity
            android:name=".volunteer.VolNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitCardiogramActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Fit.FitMainActivity"
            android:exported="false" />
        <activity android:name=".activity.ssk.LampRgbActivity" />
        <activity android:name=".activity.ssk.SSKMainActivity" />
        <activity android:name=".activity.ssk.BindSSKActivity" />
        <activity android:name=".volunteer.PushTeamMissionActivity" />
        <activity android:name=".volunteer.ReClockInActivity" />
        <activity android:name=".volunteer.TeamMissionClockInActivity" />
        <activity android:name=".volunteer.PartmentApplyActivity" />
        <activity android:name=".volunteer.RemovePartmentActivity" />
        <activity android:name=".volunteer.TeamPartmentActivity" />
        <activity android:name=".volunteer.TeamMissionDetailActivity" />
        <activity android:name=".volunteer.TeamDetailActivity" />
        <activity android:name=".volunteer.MissionDetailActivity" />
        <activity android:name=".activity.SkrUpActivity" />
        <activity android:name=".activity.SkrUpdateCompleteActivity" />
        <activity android:name=".activity.SkrUpdateActivity" />
        <activity android:name=".activity.SkrMain2Activity" />
        <activity android:name=".activity.hck.HCKHistroyActivity" />
        <activity android:name=".activity.hck.BindHCKActivity" />
        <activity android:name=".activity.hck.HCKMainActivity" />
        <activity android:name=".activity.SkrFastCallActivity" />
        <activity android:name=".activity.SkrSettingActivity" />
        <activity android:name=".activity.SkrTimeSetActivity" />
        <activity android:name=".activity.SkrAlarmPhoneActivity" />
        <activity android:name=".activity.SkrHistroyActivity" />
        <activity android:name=".activity.SkrMainActivity" />
        <activity android:name=".activity.BindSkrActivity" />
        <activity android:name=".activity.ActionlActivity" />
        <activity android:name=".activity.NewWorkActivity" />
        <activity android:name=".activity.WorkDetailActivity" />
        <activity android:name=".activity.ActionDetailActivity" />
        <activity android:name=".activity.MyWorksActivity" />
        <activity android:name=".activity.SleepDataActivity" />
        <activity android:name=".activity.ActionCommentActivity" />
        <activity android:name=".activity.OrganDetailActivity" />
        <activity android:name=".activity.UseDetailActivity" />
        <activity android:name=".activity.SaveTemplateActivity" />
        <activity android:name=".activity.SetCheckTimeActivity" />
        <activity android:name=".activity.New4gWotchActivity" />
        <activity android:name=".activity.SafeDeviceActivity" />
        <activity android:name=".activity.HealthDataDetailActivity" />
        <activity android:name=".activity.EditLeapActivity" />
        <activity android:name=".activity.NeoHealthDataActivity" />
        <activity android:name=".reform.NeoReformProgressActivity" />
        <activity android:name=".reform.ReformHistroyActivity" />
        <activity android:name=".reform.ProjectAcceptanceActivity" />
        <activity android:name=".reform.ProjectDetailActivity" />
        <activity android:name=".reform.ImplementActivity" />
        <activity android:name=".reform.ProjectConfirmActivity" />
        <activity android:name=".reform.CivilListActivity" />
        <activity android:name=".reform.AuditingActivity" />
        <activity android:name=".reform.ReformProgressActivity" />
        <activity android:name=".reform.ChooseFeatureActivity" />
        <activity android:name=".reform.SignatureActivity" />
        <activity android:name=".reform.ReformApplyActivity" />
        <activity android:name=".reform.BindDetailActivity" />
        <activity android:name=".reform.PendingActivity" />
        <activity android:name=".reform.ReformMainActivity" />
        <activity android:name=".reform.BindHistoryActivity" />
        <activity android:name=".reform.TransFormApplyAvtivity" />
        <activity android:name=".activity.HealthReportActivity" />
        <activity android:name=".volunteer.ExamineVolunteerActivity" />
        <activity android:name=".volunteer.NewVolunteerActivity" />
        <activity android:name=".activity.ChangeBindPhoneActivity" />
        <activity android:name=".activity.ChangeNickNameActivity" />
        <activity android:name=".activity.DeviceManageActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.HealthUnusualActivity" />
        <activity android:name=".activity.DoctorDetailInfoActivity" />
        <activity android:name=".activity.SuggestActivity" />
        <activity android:name=".activity.ContactServiceActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.PayFunctionActivity" />
        <activity android:name=".activity.FocusDoctorActivity" />
        <activity android:name=".activity.DoctorOrderActivity" />
        <activity android:name=".activity.DoctorPrepayActivity" />
        <activity android:name=".activity.PictureCureActivity" />
        <activity android:name=".activity.DoctorDetailActivity" />
        <activity android:name=".activity.HomeDoctorListActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.SubsidyHistoryActivity" />
        <activity android:name=".volunteer.NoticeActivity" />
        <activity android:name=".volunteer.TeamMissionActivity" />
        <activity android:name=".volunteer.WebMissionActivity" />
        <activity android:name=".volunteer.TeamListActivity" />
        <activity android:name=".volunteer.TeamMissionListActivity" />
        <activity android:name=".volunteer.MyTeamActivity" />
        <activity android:name=".volunteer.CreatePartyActivity" />
        <activity android:name=".volunteer.TimeBankActivity" />
        <activity android:name=".volunteer.ExchangeListActivity" />
        <activity android:name=".volunteer.ChooseOrganActivity" />
        <activity android:name=".volunteer.VolunteerApplyActivity" />
        <activity android:name=".volunteer.ClockInActivity" />
        <activity android:name=".activity.EventDetailActivity" />
        <activity android:name=".activity.ChooseAddressActivity" />
        <activity android:name=".volunteer.ExchangeActivity" />
        <activity android:name=".volunteer.SingleVolunteerActivity" />
        <activity android:name=".volunteer.VolunteerActivity" />
        <activity android:name=".activity.FaceDetectExpActivity" />
        <activity android:name=".activity.CertificationActivity" />
        <activity android:name=".activity.MyActionActivity" />
        <activity android:name=".activity.MealDetailActivity" />
        <activity android:name=".activity.BonusActivity" />
        <activity android:name=".activity.SinoUaActivity" />
        <activity android:name=".activity.SinoBloodSugarActivity" />
        <activity android:name=".activity.SinoUgActivity" />
        <activity android:name=".activity.BloodPressureActivity" />
        <activity android:name=".activity.VitaHeartRateActivity" />
        <activity android:name=".activity.VitaMainActivity" />
        <activity android:name=".activity.WatchDemoActivity" />
        <activity android:name=".activity.SinoMainActivity" />
        <activity android:name=".activity.BindSinoActivity" />
        <activity android:name=".im.ChatActivity" />

        <meta-data
            android:name="sino_minute_access_key"
            android:value="71098fbae8f71c110906a0782f6c2a42" />

        <activity android:name=".activity.AlarmDetailActivity" />
        <activity android:name=".activity.AlarmListActivity" />
        <activity android:name=".activity.InvestActivity" />
        <activity android:name=".activity.BalanceActivity" />
        <activity android:name=".activity.SetListActivity" />
        <activity android:name=".activity.SetMealActivity" />
        <activity android:name=".activity.RepairActivity" />
        <activity android:name=".activity.EditInfoActivity" />
        <activity android:name=".activity.MyInfoActivty" />
        <activity android:name=".activity.ProgressActivity" />
        <activity android:name=".activity.SubmitSubsidyActivity" />
        <activity android:name=".activity.SubsidyActivity" />
        <activity android:name=".activity.EstimateActivity" />
        <activity android:name=".activity.BenefitActivity" />
        <activity android:name=".activity.HealthKnowledgeActivity" />
        <activity android:name=".activity.CommunityActionActivity" />
        <activity android:name=".activity.AddContactActivity" />
        <activity android:name=".activity.AddFamilyActivity" />
        <activity android:name=".activity.ContactPersonActivity" />
        <activity android:name=".activity.ChooseCityActivity" />
        <activity android:name=".activity.ChooseFoodActivity" />
        <activity android:name=".activity.FoodRecordActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.OrganActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.BindEquipmentActivity" />
        <activity android:name=".activity.AddEquipmentActivity" />
        <activity android:name=".activity.UnbindEquipmentActivity" />
        <activity android:name=".activity.EquipmentActivity" />
        <activity android:name=".activity.SendByTimeActivity" />
        <activity android:name=".activity.BroadcastRecordActivity" />
        <activity android:name=".activity.ModelAddActivity" />
        <activity android:name=".activity.ModelContentAddActivity" />
        <activity android:name=".activity.ChooseModelActivity" />
        <activity android:name=".activity.VoiceBroadcastActivity" />
        <activity android:name=".activity.HistoryDataDetailActivity" />
        <activity android:name=".activity.HistoryDataActivity" />
        <activity android:name=".activity.HealthDataActivity" />
        <activity android:name=".activity.SelectRemindDateActivity" />
        <activity android:name=".activity.EditRemindActivity" />
        <activity android:name=".activity.PromptActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.LimitTitleActivity" />
        <activity android:name=".activity.LimitListActivity" />
        <activity android:name=".activity.ActivitySetMapPoint" />
        <activity android:name=".activity.RailCreatePlanActivity" />
        <activity android:name=".activity.WriteDataActivity" />
        <activity android:name=".activity.DietRecordActivity" />
        <activity android:name=".activity.DoctorInfoActivity" />
        <activity android:name=".activity.MakeUpInfoActivity" />
        <activity android:name=".activity.HouseDoctorActivity" />
        <activity android:name=".activity.AppointmentSucessActivity" />
        <activity android:name=".activity.ElectFenceActivity" />
        <activity android:name=".activity.DoctorListActivity" />
        <activity android:name=".activity.ChooseClassActivity" />
        <activity android:name=".activity.RailCreatePlanMsgActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.DeviceScanActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.WebActivity" />

        <service android:name="com.inuker.bluetooth.library.BluetoothService" />
        <service
            android:name=".receiver.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- 极光 -->
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="net.leelink.healthangelos" />
            </intent-filter>
        </service> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="net.leelink.healthangelos" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="net.leelink.healthangelos" />
            </intent-filter>
        </activity> <!-- SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle"
            tools:replace="android:exported">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="net.leelink.healthangelos" />
            </intent-filter>
        </activity> <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" /> <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" /> <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="net.leelink.healthangelos" />
            </intent-filter>
        </receiver> <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" /> <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="141e5a9f59ac78c3a815b0b7" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="88527d11272f251f7284c3cbff9f3e26" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <service
            android:name=".im.websocket.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".im.websocket.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
    </application>

</manifest>